@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


body{
    background: white
}

main{
    height: 100vh;
}


.drawer{
    height: 10vh;
    background:rgba(0, 0, 0, 0.9);
    padding:5 30;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drawer .name a{
    font-size: 35px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: all .3s ease;
    
}

.drawer .name a:hover{
    transition: all .3 ease;
    font-size: 37;
}

.drawer .menu{
    display: flex;
    list-style: none;
}

.drawer .menu li{
    margin: 0 15px;
}

.drawer .menu li a{
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
}

.drawer .menu li a:hover{
    color: rgb(0, 0, 0);
    padding: 3 15;
    border-radius: 5px;
    background-color: white;
}

.main-text{
    margin: 10 0 0 50;
    padding: 0 15px;
}

.humberger{
    color: white;
    font-size: 25;
    cursor: pointer;
    display: none;
}

#isClicked{
    display: none;
}

.milky{
    width: 100%;
    left: 0;
    top: 0;
    height: 90vh;
    object-fit: cover;
    opacity: 0.9;
}

.Centeredtext{
  position: absolute;
  top: 75%;
  left: 20%;
  color: white;
  transform: translate(-50%, -50%);
}


.explore{
    text-decoration: none;
    color: black;
    background: white;
    border-radius: 5px;
    padding: 8;
    letter-spacing: 2px;
    transition:all .3s ease;
}

.explore:hover{
    word-spacing: 100%;
    color: white;
    letter-spacing: 5px;
    transition: all 0.3s ease;
    background: black;
}

.socials{
    list-style-type: none;
    position: absolute;
    top: 30%;
    right: 0; 
    display: block;  
    align-items: center;
    justify-content: space-between;
}

.socials li{
    margin: 25 30; 
    transition: all 0.3s ease;
    display: block;
}
.socials .fb a{
    color: white;

}
.socials .inst a{
    color:white
}
.socials .reddit a{
    color: white
}
.socials .twitter a{
    color: white
    
}
.socials li a{
    font-size: 35;
}
.socials li:hover{
     transition: all .3s ease;
     -webkit-transform: scale(1.25);
     color: #4572ee;
}

/*this below is work section*/
.work{
    height: auto;
    background: white;
}
.center-work{
    padding-top: 1rem;
    text-align: center;         
    color: black;
    letter-spacing: 0.1rem;
}

.work-reveal{
    left: 0;
    top: 0;
    justify-content: space-between;
    display: flex;
    position: relative;
    color: black;
}

.work-text{
    margin: 0 1rem 1rem 1rem;
}

.work-reveal .Phone-Quran{
    width: 400;
    height: 625;
    animation: animate 5s infinite linear;
}

.image-container{
    align-items: center;
    border-radius: 15px;
    top: 0;
    left:0;
    margin: 5rem 1rem 0 1rem;
    background-color: rgb(81, 238, 238);
    width: 425;
    height: 640;
    transition: all .3s ease;
}

.image-container img:hover{
    cursor: pointer;
}

@keyframes animate{
    0%, 100%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(20px);
    }
}


.other-works{
    display: grid;
    grid-gap: 1px;
    margin: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.other-works .box{
    overflow: hidden;
    background-color: red;
    border-radius: 20px;
    margin: .5rem;
}

.other-works img{
    width: 100%;
    height: 300;
    border-radius: 20px;
    transition: all .3s ease;
}

.other-works img:hover{
   transition: all .3s ease;
   transform: scale(1.05);
   opacity: .95;
}

hr{
    margin: auto;
    width: 97%;
    border:0;
    height: 2px;
    border-radius: 20px;
    background:grey;
}
/*this below is islamic section*/

.islamic{
    background-color: black;
    height: 100vh;
}

.center-islamic{
    text-align: center;
    padding-top: 1rem;
    color: white;
    align-items: center;
}

/* this below is universe section*/
.universe{
    background-color: white;
    height: 100vh;
}

.center-universe{
    text-align: center;
    padding-top: 1rem;
    color: black;
    align-items: center;
}

.soon{
    position: absolute;
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
    text-align: center;
    transform: translate(50%, 50%);
}
.soon .universeT{
    position: absolute;
    align-items: center;
    color: black;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
    text-align: center;
    transform: translate(50%, 50%);
}

.soon span{
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 70%;
  margin: 0 5px;
  animation: soonDots 2s infinite linear;
}

.soon span:nth-child(2){
    animation-delay: .9s;
    background-color: greenyellow;
}
.soon span:nth-child(3){
    animation-delay: .6s;
    background-color: gold;
}
.soon span:nth-child(4){
    animation-delay: .3s;
    background-color: aqua;
}

@keyframes soonDots{
  50%{
      opacity: 0;
      transform: scale(.9) translateY(15px);
  }
}


@media (max-width: 800px) {
 
    main{
        height: 100vh;
    }
    .drawer .menu{
        display: block;
        position: fixed;
        top: 80px;
        right: -100%;
        height: 100vh;
        width: 100%;
        transition: all 0.7s ease;
        text-align: center;
        z-index: 1;
        overflow: hidden;
    }
    
    #isClicked:checked ~ .menu{
        right: 0%;
        transition: all 0.7s ease;
    }
    
    #isClicked:checked ~ .humberger i::before{
        content: "\F00d";
    }
    .humberger{
        font-size: 20;
        display: block; 
        color: wheat;
    }

    .drawer .menu li{
        margin: 50px 0;
        display: block;
        transition: all 2s ease;
    }

    .drawer .menu .li a{
        font-size: 30;
        padding: 0 15;
    }

    .Centeredtext{
        position: absolute;
        top: 90%;
        left: 30%;
        color: white;
        transform: translate(-50%, -50%);
      }

     .Centeredtext h2{
         font-size: 20;
     }
     .Centeredtext h4{
         font-size: 15;
     }

      .Centeredtext .explore{
          font-size: 15;
      }

      .socials li a{
            font-size: 25;
      }

      .work{
          height:auto
      }

      .work-reveal{
        left: 0;
        top: 0;
        margin: 2rem;
        justify-content: space-between;
        display: block;
        position: relative;
    }

    .image-container{
        margin-top: 1rem;
        align-items: center;
        width: 95%;
        height: 480;
    }

    .image-container .Phone-Quran{
    height: 450;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }
  
    
    .other-works{
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}
