@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


body{
    background: linear-gradient(175deg, #9ad2ff 10% , #4572ee 100%)
}

.drawer{
    height: 80px;
    background: black;
    padding:5 30;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drawer .name a{
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.drawer .menu{
    display: flex;
    list-style: none;
}

.drawer .menu li{
    margin: 0 15px;
}

.drawer .menu li a{
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
}

.drawer .menu li a:hover{
    color: rgb(0, 0, 0);
    padding: 0 15;
    border-radius: 8px;
    background-color: white;
}

.main-text{
    margin: 10 0 0 50;
    padding: 0 15px;
}

.humberger{
    color: white;
    font-size: 25;
    cursor: pointer;
    display: none;
}

#isClicked{
    display: none;
}

.milky{
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

.Centeredtext{
  position: absolute;
  top: 80%;
  left: 20%;
  color: white;
  transform: translate(-50%, -50%);
}


.explore{
    text-decoration: none;
    color: black;
    background: white;
    border-radius: 5px;
    padding: 8;
    letter-spacing: 2px;
}

.explore:hover{
    word-spacing: 100%;
    color: white;
    letter-spacing: 5px;
    transition: all 0.5s ease;
    background: black;
}

.socials{
    list-style-type: none;
    position: absolute;
    top: 30%;
    right: 0; 
    display: block;  
    align-items: center;
    justify-content: space-between;
}

.socials li{
    margin: 25 30; 
    display: block;
}
.socials .fb a{
    color: white;
}
.socials .inst a{
    color:white
}
.socials .reddit a{
    color: white
}
.socials .twitter a{
    color: white
    
}
.socials li a{
    font-size: 35;
}
.socials li:hover{
     transition: all .3s ease;
     -webkit-transform: scale(1.15);
     color: #4572ee;
}

/*this below is home section*/
.work{
    margin: 30;
    text-align: center;
    text-decoration: underline;
    color: white;
}


@media (max-width: 950px) {
 
   
    
    .drawer .menu{
        display: block;
        position: fixed;
        top: 80px;
        right: -100%;
        background:rgba(0, 0, 0, 0.3);
        height: 100vh;
        width: 100%;
        transition: all 0.3s ease;
        text-align: center;
        z-index: 1;
        overflow: hidden;
    }
    
    #isClicked:checked ~ .menu{
        right: 0%;
        transition: all 0.7s ease;
    }
    
    #isClicked:checked ~ .humberger i::before{
        content: "\F00d";
    }
    .humberger{
        font-size: 20;
        display: block; 
    }

    .drawer .menu li{
        margin: 50px 0;
        display: block;
        transition: all 2s ease;
    }

    .drawer .menu .li a{
        font-size: 30;
        padding: 0 15;
    }

    .Centeredtext{
        position: absolute;
        top: 95%;
        left: 30%;
        color: white;
        transform: translate(-50%, -50%);
      }

     .Centeredtext h2{
         font-size: 20;
     }
     .Centeredtext h4{
         font-size: 15;
     }

      .Centeredtext .explore{
          font-size: 15;
      }

      .socials li a{
            font-size: 25;
      }
    
}
